@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
/*     font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Hanken Grotesk', sans-serif;
 }
 body{
    background-image: url(https://cdn.pixabay.com/photo/2017/09/26/15/13/computer-2788918_1280.jpg);
    background-size: cover;
 }
 nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 14px;
    margin-top: 5px;
 }
 .menu-horizontal{ 
    list-style: none;
    display: flex;
    justify-content: space-around;

 }
 .menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
 }

 .menu-horizontal > li:hover {
    background-color: red;
 }
 .menu-vertical{
    position:absolute;
    display: none; 
    list-style: none;
    width: 200px;
    background-color:rgba(0, 0, 0, .5);
 }

 .menu-horizontal li:hover .menu-vertical{
    display: block;
 }
 .menu-vertical li:hover{
    background-color: black;
 }
 .menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
 }
 /************************************/
.general-title{
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 0, 0, 0.801);
}
section{
    border: 3px double rgba(255, 0, 0, 0.801);
    min-width: 350px;
    width: 50%;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    background-color: hwb(0 100% 0% / 0.7);
}
.section-title{
    text-align: left;
    margin-top: 10px;
    color: rgba(255, 0, 0, 0.801);
    font-weight: 900;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: rgba(255, 0, 0, 0.801);
    color: #fff;
    border: 1px solid rgba(255, 0, 0, 0.801);
    padding: 4px;
    border-radius: 9px;
  }
.works-employee{
    height: auto;
}
.result {
    text-align: left;
    font-size: 1.1rem;


    border: 1px solid rgba(255, 0, 0, 0.801);
    width: 100%;
    padding: 10px;
}
.typeAnalisis{
    border: 1px solid rgba(255, 0, 0, 0.801);
    margin: 5px 4px;
}
.show-data{
    display: flex;
    
}